<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>کد :</label>
            <input type="text" [(ngModel)]="category.id" class="form-control" />
        </div>
        <div class="form-group">
            <label>نام گروه :</label>
            <input type="text" class="form-control" [(ngModel)]="category.categoryName" />
        </div>
        <div class="form-group">
            <label> توضیحات :</label>
            <textarea class="form-control" [(ngModel)]="category.description"></textarea>
        </div>
        <div class="form-group">
            <label>
          <input type="checkbox" [(ngModel)]="category.isActive"/>
          فعال
      </label>
        </div>
        <button type="button" class="btn btn-primary" (click)="save()">ذخیره</button>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>کد :</label>
            <label>{{category.id}}</label>
        </div>
        <div class="form-group">
            <label>نام گروه :</label>
            <label>{{category.categoryName}}</label>

        </div>
        <div class="form-group">
            <label> توضیحات :</label>
            <label>{{category.description}}</label>

        </div>
        <div class="form-group">
            <label>
            <label>{{category.isActive ? "فعال" : "غیرفعال"}}</label>

            </label>
        </div>
    </div>
</div>