@font-face {
    font-family: 'iransans';
    src: url('./assets/fonts/IRANSans-Light-web.woff') format('woff'); /* Pretty Modern Browsers */
 }
 body {
   margin: 0;
   font-family: iransans;
   font-size: .875rem;
   font-weight: 400;
   line-height: 1.5;
   color: #23282c;
   text-align: left;
   background-color: #e4e5e6;
}
// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
